/*.displaybox {
  border: 1px;
  border-style: solid;
  border-color: red;
}*/

td {
  text-align: center;
  font-size: 150%;
  padding: 2px;
  font-weight: bold;
}

#restart {
  color: black;
}

ul#listLetters {
  font-size: 170%;
}

td:hover {
  background-color: black;
  color: white;
}

.correctLetter {
  color: purple;
  font-size: 200%;
}
